@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Papins',sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(bg.jpg);
  background-position: center;
  background-size: cover;
  
  
}
body section,.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.container{
  /* margin: auto; */
  width: 400px;
  min-height: 400px;
  background:#FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  padding:40px 30px
}
.container .login-text{
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display:block
}
.container .login-social{
  display:grid;
  grid-template-columns: repeat(auto-fit , minmax(50%,1fr));
  margin-bottom: 25px;
}
.container.login-social a {
  padding:12px;
  margin:10px;
  border-radius:3px;
  box-shadow:0 0 5px rgba(0,0,0,.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color:#FFF;
  transition:.3s;
}
.container .login-social a i{
  margin-right: 5px;
}
.container .login-social a.facebook{
  background:#4267B2
}
.container .login-social a.tweeter{
  background:#1DA1F2
}
.container .login-social a.google-plus{
  background:#1DA1F2
}
.container .login-email .input-group{
  width:100%;
  height:50px;
  margin-bottom:25px
}
.container .login-email .input-group input{
  width:100%;
  height:100%;
  border:2px solid #e7e7e7;
  padding:15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background:transparent;
  outline: none;
  transition:.3s
}
.container .login-email .input-group input:focus,.container .login-email .login-group input:valid{
  border-color: #a29bfe;
}
.container .login-email .input-group .btn{
  display:block;
  width:100%;
  padding:15px 20px;
  text-align: center;
  border:none;
  background:#a29bfe;
  outline:none;
  border-radius:30px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  transition:.3s
}
.container .login-email .input-group .btn:hover{
  transform: rotateY(-5px);
  background:#6c5ce7
}
.login-register-text{
  color:#111;
  font-weight: 600;
}
.login-register-text a{
  text-decoration: none;
  color:#6c5ce7
}


.grid {
  width: 1200px;
  /* min-height: 1000px; */
  overflow: hidden;
  padding: 0.5em 0 0 2.5em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-left: 7%  ;


}

.grid li {
  padding: 0 0.5em 0.5em 0;
  top: 0;
  max-width: 300px;
}
.grid li > div {
  width: 250px;
  height: 300px;
  background-size:cover;
  box-sizing: border-box;
  padding: 5em 2em;
  text-align: center;
}
.grid li a {
  color: #fff;
}




/*decoration*/

.product-review-stars{
  margin: 50px 50px; 
  background: #2C3E50;
  padding: 10px 33px 20px 20px;
}

.product-review-stars label{
    text-shadow: 0px 0px 10px black;
}

/*end decoration*/

.visuallyhidden{
  position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px);
}
.product-review-stars label:after{
    content: "★";
    color: inherit;
    -webkit-transform: scale(4);
    position: absolute;
    z-index: 4;
    left: 0px;
    transition: all .4s;
    opacity: 0;
    color: inherit;
    visibility: hidden;
   
}

.product-review-stars input:checked + label:after{
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
}

.product-review-stars  {
  unicode-bidi: bidi-override;
  direction: rtl;
  min-width:  300px;
  height: 80px
}

.product-review-stars label{
    font-family: "icomoon";
    font-size: 3em;
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}
.product-review-stars input:checked ~ label:before{
    opacity: 1;
}
.product-review-stars:hover input ~ label:before{
    opacity: 0;
}

.product-review-stars input + label:before{
    content: "\2605";
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out, color .3s ease-in-out;
    backface-visibility:hidden;
-webkit-backface-visibility:hidden; /* Chrome and Safari */
-moz-backface-visibility:hidden; /* Firefox */
-ms-backface-visibility:hidden; /* Internet Explorer */
}
.product-review-stars input + label:hover:before,
.product-review-stars input + label:hover ~ label:before
{
    opacity: 1;
}
.product-review-stars input + label:nth-of-type(1):after,
.product-review-stars input + label:nth-of-type(1):before,
.product-review-stars input +  label:nth-of-type(1):hover:before,
.product-review-stars input + label:nth-of-type(1):hover ~ label:before,
.product-review-stars input:nth-of-type(1):checked ~ label:before{
    color: #2ecc71;
}
.product-review-stars input + label:nth-of-type(2):after,
.product-review-stars input + label:nth-of-type(2):before,
.product-review-stars input + label:nth-of-type(2):hover:before,
.product-review-stars input + label:nth-of-type(2):hover ~ label:before,
.product-review-stars input:nth-of-type(2):checked ~ label:before{
    color: #f1c40f;
}
.product-review-stars input + label:nth-of-type(3):after,
.product-review-stars input + label:nth-of-type(3):before,
.product-review-stars input + label:nth-of-type(3):hover:before,
.product-review-stars input + label:nth-of-type(3):hover ~ label:before,
.product-review-stars input:nth-of-type(3):checked ~ label:before{
    color: #F39C12;
}
.product-review-stars input + label:nth-of-type(4):after,
.product-review-stars input + label:nth-of-type(4):before,
.product-review-stars input + label:nth-of-type(4):hover:before,
.product-review-stars input + label:nth-of-type(4):hover ~ label:before,
.product-review-stars input:nth-of-type(4):checked ~ label:before{
    color: #e74c3c;
}

.product-review-stars input + label:nth-of-type(5):after,
.product-review-stars input + label:nth-of-type(5):before,
.product-review-stars label:nth-of-type(5):hover:before,
.product-review-stars input:nth-of-type(5):checked ~ label:before{
    color: #d35400;
}

.product-review-stars label:nth-of-type(5):hover:before{
    color: #d35400 !important;
}






@media all and (max-width: 1200px) {
  .grid {
    width: 800px;
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid li {
    padding: 0 0.5em 0.5em 0;
    top: 0;
  }
  .grid li > div {
    padding: 7em 2em;
    text-align: center;
  }
  
}

@media all and (max-width: 800px) {
  .grid {
    width: 400px;
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid li {
    padding: 0 0.5em 0.5em 0;
    top: 0;
  }
  .grid li > div {
    padding: 7em 2em;
    text-align: center;
  }
}

@media(max-width:430px){
  .container {
    width: 300px;
  }
  .container .login-social{
    display:block
  }
  .container .login-social a{
    display: block;
  }
}
.logerror{
  text-align: center;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);
 html, body {
   /* background-image: none; */
	 font-family: 'Roboto', sans-serif;
	 font-size: 16px;
	 line-height: 24px;
}
 .pagination-container {
	 margin-top: 1em;
	 padding-top: 2em;
	 border-top: 1px solid #d7dadb;
	 text-align: center;
}
 .pagination-item {
	 list-style-type: none;
	 display: inline-block;
	 border-right: 1px solid #d7dadb;
	 transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}
 .pagination-item:hover, .pagination-item.is-active {
	 background-color: #fa4248;
	 border-right: 1px solid rgb(255, 255, 255);
}
 .pagination-item:hover .pagination-link, .pagination-item.is-active .pagination-link {
	 color: #fff;
}
 .pagination-item.first-number {
	 border-left: 1px solid #d7dadb;
}
 .pagination-link {
	 padding: 1.1em 1.6em;
	 display: inline-block;
	 text-decoration: none;
	 color: #8b969c;
	 transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}
 .pagination-item--wide {
	 list-style-type: none;
	 display: inline-block;
}
 .pagination-item--wide.first {
	 margin: 0 1em 0 0;
}
 .pagination-item--wide.last {
	 margin: 0 0 0 1em;
}
 .pagination-link--wide {
	 text-decoration: none;
	 color: white;
	 padding: 1.1em 1.6em;
}
 .pagination-link--wide:hover {
	 color: white;
}
 .pagination-link--wide.first:before, .pagination-link--wide.last:after {
	 font-family: 'entypo';
	 speak: none;
	 font-style: normal;
	 font-weight: normal;
	 font-variant: normal;
	 text-transform: none;
	 line-height: 1;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .pagination-link--wide.first::before {
	 content: "\E765";
	 margin-right: 0.5em;
}
 .pagination-link--wide.last::after {
	 content: "\E766";
	 margin-left: 0.5em;
}